# ignore node_modules and package-lock.json
node_modules
package-lock.json

# ignore .next and .env files
.next
next-env.d.ts


# ignores docker file
Dockerfile

# ignore vercel.json and .vercel directory
vercel/project.json
.vercel